### Sample data

In [43]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing

# Load the California housing dataset
california_housing = fetch_california_housing()
housing = pd.DataFrame(california_housing.data, columns=california_housing.feature_names)
housing_labels = pd.DataFrame(california_housing.target, columns=["MedHouseValue"])

# Create a DataFrame with a single column named "gooder"
kk = []
for i in range(len(housing)):
    kk.append(np.random.choice(["good","bad"],1,p=[0.5,0.5])[0])
ll = pd.DataFrame(np.array([kk])[0], columns=["gooder"])

# Merge the two DataFrames based on the index
merged_df = pd.merge(housing, ll, left_index=True, right_index=True)

merged_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,gooder
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,bad
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,good
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,good
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,bad
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,bad

In [33]:
merged_df["gooder"].value_counts()

good    20640
Name: gooder, dtype: int64